/* CreateProduct.module.css */

.container {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
  }
  
  label {
    margin-top: 10px;
    font-weight: bold;
    color: #555;
  }
  
  input,
  textarea,
  select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  select {
    width: 100%;
  }
  
  .categories label {
    display: block;
  }
  
  .categories select {
    margin-bottom: 5px;
  }
  
  .categories button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  .productDetails{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    border: 1px solid #333;
  }
  .productDetails label {
    display: block;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .submitButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
  }

  .imageUpload{
    display: flex;
    width: 100%;
    border: 1px solid #333;
    flex-direction: column;
    align-items: center;
  }
  .imageUpload img{
    width: 300px;
    height: 300px;
  }
 
  
  .categories p {
    color: #f00;
    font-size: 14px;
  }
  