* {
  margin: 0;
  padding: 0;
}


.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;
}
.form{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.containerChilds{
  border-radius: 20px;
  border: 1px solid #333;
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  background: #d9d9d990;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.containerChildForm{
  width: 80%;

  display: flex;
  flex-direction: column;
  padding: 16px;

  

}
.containerChildForm input,textarea, .cat{
  width: 50%;
  padding: 8px;
  border:none;
  border-bottom: 2px solid #555;
  background: none;
  margin: 10px auto;

}
.containerChildForm input:focus,textarea:focus{
  width: 60%;
  padding: 8px;
  border:none;

  background: none;
  margin: 10px auto;
  transition: .5s all;
  scale: 1.1;

}
.containerChildForm label{
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #555;
  font-family: 'Poppins', sans-serif;
}

.containerChildImg{

  display: flex;
  flex-direction: column;
  align-items: center;

  
}
.containerChildImg .input{
  margin: 0 auto;
  width: 50%; 
  
}

.btn{
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: #dd8e18;
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;

  width: 30%;
  margin: 0 auto;
  cursor: pointer;
 
}
.containerImg{
  max-width: 50%;
  max-height: 50%
}
.btn:hover{
  background-position: right;
  background-color: #f8ba5e;
}