/* PerfilUsuario.module.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .containerChild {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .containerChildProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile {
    width: 150px;
    height: 150px;
    background-color: #f0f0f0;
    border-radius: 50%;
    /* Puedes agregar estilos para la imagen de perfil aquí */
  }
  
  .profileName {
    margin-top: 10px;
    font-size: 24px;
  }
  
  .profileInfo {
    width: 100%;

    display: flex;
    flex-direction: column;

}
  
  .info {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  p {
    margin: 0;
  }
  
  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  