/* Favoritos.module.css */
* {
    margin: 0px;
    padding: 0;
  }
  
  .container {
    display: flex;
    width: 90%;
    height: 100vh;
    flex-wrap: wrap;
    margin: 50px auto;
  }
  
  .fav {
        border: 3px solid #fe9e0d;
        width: 20%;
        height: 400px;
        display: flex;
        flex-direction: column;
  }
.image{
    width: 100%;
    height: 80%;
}
  
  .fav:hover {
    transition: 0.5s all;
    background: #fe9e0d;
    transform: scale(1.2); /* Corregido: usa 'transform' en lugar de 'scale' */
  }
  
  .info{
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    padding: 16px;
    
  }
  .info h1{
    text-align: center;
  }