.socialsignin{
    display: flex;
    gap: 15px;
}

.inputgoogle{
    width: 100%;
    height: 40px;
    padding: 0 30px;
    background: #FFF;
    border: none;
    text-align: center;
}

.inputgoogle p{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    width: 90%;
    text-align: center;
    color: #333;
}