/* ShoppingCart.module.css */

.container {
  border: 2px solid black; /* Línea negra alrededor del contenedor */
  padding: 100px; /* Espacio interno */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  background-color: #f0f0f0; /* Fondo gris claro */
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.button {
  background-color: #fe9e0d; /* Fondo amarillo */
  color: white; /* Texto blanco */
  border: none; /* Sin borde */
  padding: 8px 40px; /* Espacio interno */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar cursor al pasar el ratón */
}

.button:hover {
  background-color: #ffbb3e; /* Cambiar color al pasar el ratón */
}
