/*
    colores: #495057, #219E80
*/
.container{
    width: 100%;
    background: #495057;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    margin-top: 2em;
}
.container div{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.container div p{
    margin: 0px;
    color: #ffffff;
}
.container i{
    font-size: 2em;
    color: #219E80;
}