/*
    colores: #495057, #219E80
*/
.container{
    width: 100%;
    background: #f3e2c8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    margin-top: 2em;
}
.container div{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.container div p{
    margin: 0px;
    color: #ffffff;
}
.container i{
    font-size: 2em;
    color: #219E80;
}
.button2 {
    background-color: #f8f6f2;
    border-radius: 8px;
    border-width: 0;
    color: #0c0802;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }