/* Estilos generales para el formulario y botón de mostrar/ocultar filtro */
.containerChildFilter {
  display: flex;
  flex-direction: column;
  padding: 16px;
  flex: 1;  
}
.containerChildFilter .form{
  width: 20%; /* Ancho del sidebar */
  color: #fff;
  background-color: #f5f5f5;
  border-right: 1px solid #dddada;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh; /* Altura del sidebar igual a la altura de la ventana */
  position: fixed; /* Fijar el sidebar en la ventana */
  top: 0; /* Alinear el sidebar en la parte superior */
  left: -100%; /* Oculta inicialmente los filtros fuera de la pantalla */
  transition: left 0.5s ease-in-out;
}
.containerChildFilter .form.modalVisible {
  left: 0; /* Muestra los filtros al ajustar la propiedad left a 0 */
}
.containerChildFilter .showFilter.modalVisible{
  left: 100;
}
.toggleButton{

  width: 300px;
  height: 100px;
}
.showFilter{
  background-color: #f8f3f3;
  background-size: 200%;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  outline: none;
  border: none;
  
  padding: 16px;
  width: 110px;
  height: 50px;
  position: fixed;
  top: 50%;
  left: 18.5%;
  z-index: 100;
  transition: left 0.5s ease-in-out;
  display: flex;
  align-items: center;
}
.showFilter:hover{
  scale: 1.2;
  color: #333;
}
.showFilter::before{
  width: 100px;
  font-size: 30px;
  font-weight: 700;
 margin-bottom: 100px;
  color: #11111190;
  position: absolute;
  
  left: 10%;
}



.slide-out {
  left: -5px;
  left: 100; 
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  transition: .5s all;
  background-color: #eee9e1;
 
}
.slide-out::after{
  content: '';
  width: 1em;
  height: 1em;
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  position: absolute;
  transform: rotate(130deg);
  top: 27%;
  left: 25%;
  
}

.slide-in {
  left: 100; 
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  transition: .5s all;
  width: 50px;
}
.slide-in::before{
  content: '';
  
}
.slide-in::after{
  content: '';
  width: 1em;
  height: 1em;
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  position: absolute;
  transform: rotate(320deg);
  top: 27%;
  left: 25%;
  
}



.containerChildFilter select {
  width: 100%;
  margin-bottom: 10px;
}
/* Estilos para el filtro */
.checkbox {
  background: #ffffff;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}
/* Estilos para los elementos dentro del filtro */
.checkbox label {
  margin: 2px auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  max-width: fit-content;

}
/* Estilos para el filtro cuando está visible */
.checkbox.modalVisible {
  max-height: 500px;
  overflow: scroll;
}


.itemForm {
  padding: 8px;
  border-radius: 20px;
  margin: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  border: 3px solid #555;
}

.containerChilds {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
 
}

.searchBar {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #fff;
  position: fixed;
  z-index: 10;

}
.searchBar label {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.searchBar i {
  font-size: 2em;
}
.searchBar input {
  width: 50%;
  
  padding: 16px;
  height: 2em;
  border-bottom: 3px solid #333;
  background: none;

  font-size: 20px;
  margin: 0px 5px;

  border-radius: 20px;
}
.searchBar input:active {
  background: none;
  border: none;
}
.containerChild {
  display: flex;
  flex-direction: row;
  
}

.containerChildFilterContainer {
  margin: 0;
  background: #000;

}
.containerChildFilter{
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
}
.containerChildFilter select, button{
  width: 80%;


  padding: 8px;
  background: none;

}


.containerPost {
  display: flex;
  flex-direction: column;
  margin: 60px auto;
  width: 80%;
  flex: 3; /* El div central ocupará más espacio que los otros dos */

}

.containerChildSpace {
  flex: 1; /* Este div ocupará la misma cantidad de espacio que .containerChildFilter */
}

.wave {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: -1;
  rotate: 180deg;
}
.waveTwo {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  transform: rotateY(360deg); /* Realiza un giro en el eje Y (flip horizontal) */
}

.resetButton {
  display: block;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: #dd8e18;
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  cursor: pointer;
 
}

.resetButton:hover{
  background-position: right;
  background-color: #f8ba5e;
}

.containerChildFilter select{
  border-radius: 20px;
  background-color: #fff;
}