.politica h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.politica p,
.politica h2 {
    text-align: left;
    margin-bottom: 30px;
    margin-left: 30px;
}

.politica button {
    padding: 10px 15px;
    background-color: #ff8c00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 100px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.politica button:hover {
    background-color: #ff6b00;
    box-shadow: 0px 0px 10px rgba(255, 140, 0, 0.87);
}