.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .page-button {
    background-color: #ccc;
    border: 1px solid #999;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .page-button.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .prev-button,
  .next-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .prev-button:disabled,
  .next-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  