.paymentPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
.paymentPageContainer > * {
    margin-top: 30px;
}

.pageButton {
    padding: 10px 15px;
    background-color: #ff8c00;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 200px;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.pageButton:hover {
    background-color: #ff6b00;
    box-shadow: 0px 0px 10px rgba(255, 140, 0, 0.87);
}