* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}
.containerNav{
    background: #f3e2c8;
}

nav img{
  	display: flex;
	align-items: center;
	justify-content: space-between;
   }




.links a{
    color: #333;
    text-decoration: none;
    font-weight: 800px;

    text-decoration-line: none;
}
.links a:hover{
    scale: 1;
}
.body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    
}

.containerform {
    display: flex;
    height: 100%;
    width: 80%;
    margin: 10px;
    justify-content: center;
    align-items: center;
}



.infochilds {
    width: 100%;
    padding: 0 30px;
  
}

.infochilds h2 {
    font-size: 2.5rem;
    color: #333;
    
}
.forminformation {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center; /* Corregido: cambiar "align-items:center" a "align-items: center" */
    justify-content: space-between;
    width: 100%;
    height: 80%;
    position: relative;
    overflow: hidden;
  
}

.forminformation::before{
    content: '';
    width: 80%;
    height: 150%;
    position: absolute;
    border-radius: 100%;
    backdrop-filter: blur(4px);
    background: linear-gradient(50deg, #db880b, #db880b, #db880b,  #ff4800);
    z-index: -1;
    top: -15em;
    left: -26em;
}
.forminformationchilds{
    padding: 3em;
}
.containerChild{
    display: flex;
    flex-direction: column;
    width: 30%;
    position: relative;
    height: 100%;

}

.forminformationchilds h2 {
    color: #333;
    font-size: 2rem;
    flex:1;
}




.form {
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: auto;
}

.form label {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    height: 3em;

}

.form label input {
    width: 100%;
    margin: 12px;
    padding: 0px 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
    background-color: transparent;
   
}

.labelone{
    background-color: #fff;
}

.labeltwo{
background-color: #4677d8;
}
.labeltwo button{
    padding: 0px 10px;
}
.labelone button{
    padding: 0px 10px;
}

.labelfive{
 border-color: #f3b353;
}


/*Responsive Form */
@media (max-width: 1150px) {
    .forminformation::before {
        visibility: hidden;
    }
    .forminformationchilds{
        margin: 0 auto;
    }
    .containerChild{
        display: none;
    }
    .form label{
        height: 2em;
    }
}
@media screen and (max-width: 750px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 580px) {
    html {
        font-size: 10px;
    }

    .containerform {
        height: auto;
        flex-direction: column;
    }

    .information {
        width: 100%;
        padding: 20px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .forminformation {
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0px;
    }
}