
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    height: 100vh;
    background-color: #f2f2f2;
    margin-top: 50px;
}
  
  h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  

  .imagerow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px; 
  }
  
  .FavCard {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: calc(33.33% - 20px); /* Tamaño para 3 imágenes por fila con espacio entre ellas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  

  