
.container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    flex-wrap: wrap;
}
  
  h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  

  .imagerow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px; 
  }
  
  
  
  

  