/*
    colores: #495057, #219E80
*/
.container{
    display: flex;
    background: #495057;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.container i{
    font-size: 2em;
    color: #219E80;

}
.logo{
    max-width: 10em;
}